<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Welcome</h1>
        {{> header}}
        <p>{{streamit welcomeMessage}}</p>
    </body>
    {{> footer}}
</html>